
header {
  /* font-size: 3em; */
  background-color: rgb(110, 177, 204);
  text-align: center;
  padding: 0px;
  border: 17px;
  margin: -7px;
  height: 250px;
}
body h1{
  size: 40px;
  margin-top: -6px;
} 
header img{
  float: left;
  height: 250px;
}
ul li{
  display: inline-block;
  font-size: 30px;
  color: aliceblue;
  padding: 30px;
}
a {
  text-decoration: none;
  color: #fff;
}


main{
  width: 960px;
  margin-left: 240px ;
  margin-top: 30px;

}

.mainPicture{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 100%;

}
.fish{
  float: left;
  margin-right: 30px;
}
.frosted-cookie{
  float: left;
  margin-right: 30px;
}
.family img{
  width: 900px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.shirt{
  float: left;
  margin-right: 30px;
}
main p {
  margin-bottom: 250px;
  
} 
footer{
  background-color: rgb(28, 22, 31);
}

.locations ul li{
  padding: 10px;
}
.hour ul li{
  padding: 10px;
}
.contact ul li{
  padding: 10px;
}
h5{
  color:white;
  margin: 0%;
}
div p{
  color: #F0E8C7;
  text-align: center;
}

ul{
  color: rgb(125, 134, 138);
  display:inline-block;
  padding: 0%;
}

/* backend page. */
* {
  font-family: 'Baloo', cursive;
}

body {
  background: rgb(122, 151, 230);
}

table {
  border: 10px solid black;
}

td {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid black;
  background: white;
}

th {
  background-color: navy;
  color: white;
}

input {
  border: 3px solid #73094c;
  border-radius: 8px;
  padding: 5px 5px 5px 5px;
  margin: 15px;
  /*display: block;*/
}

label {
  color: rgb(58, 38, 90);
  /*display: block;*/
}

fieldset {
  max-width: 900px;
  border: 7px solid #73094c;
  border-radius: 75px;
  padding: 10px;
  text-align: center;
}

legend {
  background-color: black;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
}

button {
  color: #73094c;
  text-shadow: 0px 1px 1px #ffffff;
  border: 2px solid #b2b2b2;
  background-color: #73094c;
  background: -webkit-gradient(linear, left top, left bottom, from(#F0E8C7), to(#9C9060));
  background: -moz-linear-gradient(top, #F0E8C7, #9C9060);
  background: -o-linear-gradient(top, #F0E8C7, #9C9060);
  background: -ms-linear-gradient(top, #F0E8C7, #9C9060);
}

