ul{
  color: rgb(34, 58, 66);
  display:block;
  list-style-type: circle;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 74px;
}

header {
  font-size: 3em;
  color: rgb();
  text-align: center;
  background-color: rgba(144, 145, 233, 0.418);
  padding: 10px;
  border: 17px;
  margin: 20px;
}


* {
  font-family: 'Baloo', cursive;
}

body {
  background: #ccc;
}

table {
  border: 10px solid black;
}

td {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid black;
  background: white;
}

th {
  background-color: navy;
  color: white;
}